<%= link_to "Register", register_path %>
<center>
<h3> Login </h3>
<%= form_tag new_session_path do %>
	<%= label_tag :email %><br/>
	<%= email_field_tag :email %></p>
	<p><%= label_tag :password %> <br/> 
	<%= password_field_tag :password %> </p>
	<%= submit_tag "Login"%>
<% end %>
</center>